venv/
raw_data/*
raw_data/raw_audio_m4a/*
!raw_data/raw_audio_m4a/test.m4a
raw_data/raw_transcript/*
!raw_data/raw_transcript/test.txt
raw_data/raw_audio_wav/*
!raw_data/raw_audio_wav/test.wav
raw_data/raw_audio_16k/*
!raw_data/raw_audio_16k/test.wav
!raw_data/raw_audio_16k/test.txt
raw_data/textgrid/*
!raw_data/textgrid/test.TextGrid
Project Docs
test.py
align_audio_transcript.py
Samrajya_Audio
sound_clips
Bidhi_Audio
data/*
data/aligned_audio/*
data/aligned_transcript/*
data/metadata/*
!data/metadata/aligned_data.csv
!data/aligned_audio/aligned_test.wav
!data/aligned_transcript/aligned_test.txt
data_preparation/*
!data_preparation/std_audio_name.py
!data_preparation/sampling_rate.py
!data_preparation/resample_to_16khz.py
!data_preparation/rename_file_ext.py
!data_preparation/generate_transcript.py
!data_preparation/generate_index_transcript.py
!data_preparation/generate_dataset.py
!data_preparation/extract_aligned_data.py
models
virtual_assistant_Luna/train_v2.ipynb
virtual_assistant_Luna/train.ipynb
hugging_face




